In [49]:
import pandas as pd
import numpy as np
import seaborn as srn
import statistics as sts

In [51]:
dataset = pd.read_csv('tempo.csv', sep=';')
dataset.head(20)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [52]:
dataset.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

In [53]:
#verificando valores NAN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [54]:
#tratando aparÃªncia
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [55]:
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [56]:
#tratando campo Vento
dataset.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [57]:
dataset['Vento'].fillna('FALSO', inplace = True)
dataset.groupby(['Vento']).size()

Vento
FALSO         8
VERDADEIRO    6
dtype: int64

In [58]:
#verificando temperatura
dataset['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [59]:
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [60]:
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [61]:
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura' ] = np.int64(mediana)
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [62]:
#tratando umidade
dataset['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [63]:
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [64]:
#verificando valores NAN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          0
Jogar          0
dtype: int64

In [65]:
dataset['Umidade'].fillna(mediana, inplace = True)
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [42]:
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

  Aparencia  Temperatura  Umidade  Vento Jogar
9     chuva           75    200.0  FALSO   sim

In [66]:
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100), 'Umidade'] = np.float64(mediana)
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [67]:
dataset.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

In [68]:
dataset.head(20)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol           73     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75     85.5       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao